{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link type="text/css" href="{% static 'css/style1.css' %}" rel="stylesheet" />
        <title>Востребованность</title>
    </head>
    <body>
        <header>
            <div class="css-header">
                <a href="http://127.0.0.1:8000/"><img src="https://thumb.cloud.mail.ru/thumb/xw1/Новая%20папка/2023-01-09_20-20-57.png" width="400" height="150" alt="logo"></a>
            </div>
        </header>
        <div class="container">
            <div class="bar">
                <nav>
                    <ul>
                        <a href="http://127.0.0.1:8000/demand/"><li>Востребованность</li></a>
                        <a href="http://127.0.0.1:8000/geography/"><li>География</li></a>
                        <a href="http://127.0.0.1:8000/skills/"><li>Навыки</li></a>
                        <a href="http://127.0.0.1:8000/vacancy/"><li>Последние вакансии</li></a>
                    </ul>
                </nav>
            </div>
            <div class="css-main">
                <h1>DevOps-инженер</h1>
                <h2>Востребованность</h2>
                <div class="table1">
                    <table>
                        <caption><h4>Динамика уровень зарплат по годам в виде таблицы</h4></caption> 
                        <tr>
                            <th>Год</th>
                            <th>Средняя зарплата, руб.</th>
                            <th>Средняя зарплата DevOps-инженера, руб.</th>
                        </tr>
                        {% for post in le %}
                        <tr>
                            <td>{{ post.year }}</td>
                            <td>{{ post.averageSalary }}</td>
                            <td>{{ post.salaryDevops }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="graph1">
                    <h4>Динамика уровень зарплат по годам в виде диаграммы</h4>
                    <img src="https://thumb.cloud.mail.ru/thumb/xw1/Новая%20папка/уровень%20зарплат%20по%20годам.png" alt="salary level by city" width="450" height="280">
                </div>
                <div class="table2">
                    <table>
                        <caption><h4>Динамика количества вакансий по годам в виде таблицы</h4></caption> 
                        <tr>
                            <th>Год</th>
                            <th>Количество вакансий, шт.</th>
                            <th>Количество вакансий DevOps-инженера, шт.</th>
                        </tr>
                        {% for post in co %}
                        <tr>
                            <td>{{ post.year }}</td>
                            <td>{{ post.countVacancies }}</td>
                            <td>{{ post.vacanciesDevops }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="graph2">
                    <h4>Динамика количества вакансий по годам в виде диаграммы</h4>
                    <img src="https://thumb.cloud.mail.ru/thumb/xw1/Новая%20папка/количество%20вакансий%20по%20годам.png" alt="vacancy rate by city" width="450" height="280">
                </div>
            </div>
            </div>
        </div>
        <footer>
            <div class="css-footer">
                <div class="col-1-3">
                    <p><a href="https://t.me/tsaregorodtsevg">Царегородцев Георгий Павлович</a>, группа РИ-210912, команда АТ-03.</p>
              </div>

            </div>
          </footer>
    </body>
</html>
