{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link type="text/css" href="{% static 'css/style1.css' %}" rel="stylesheet" />
        <title>Последние вакансии</title>
    </head>
    <body>
        <header>
            <div class="css-header">
                <a href="http://127.0.0.1:8000/"><img src="https://thumb.cloud.mail.ru/thumb/xw1/Новая%20папка/2023-01-09_20-20-57.png" width="400" height="150" alt="logo"></a>
            </div>
        </header>
        <div class="container">
            <div class="bar">
                <nav>
                    <ul>
                        <a href="http://127.0.0.1:8000/demand/"><li>Востребованность</li></a>
                        <a href="http://127.0.0.1:8000/geography/"><li>География</li></a>
                        <a href="http://127.0.0.1:8000/skills/"><li>Навыки</li></a>
                        <a href="http://127.0.0.1:8000/vacancy/"><li>Последние вакансии</li></a>
                    </ul>
                </nav>
            </div>
            <div class="css-main">
                <h1>DevOps-инженер</h1>
                <h2>Последние вакансии</h2>
                {% for post in items %}
                <div class="vacancy">
                    <h3><a href="{{ post.alternate_url }}">Вакансия "{{ post.name }}"</a></h3>
                    <ul>
                        <li>Название: {{ post.name }}</li>
                        <li>Описание: {{ post.description }}</li>
                        <li>Навыки: {{ post.key_skills }}</li>
                        <li>Компания: {{ post.employer.name }}</li>
                        {% if post.salary.from == None %}
                            <li>Оклад: до {{ post.salary.to }} {{ post.salary.currency}}</li>
                        {% elif post.salary.to == None %}
                            <li>Оклад: от {{ post.salary.from }} {{ post.salary.currency}}</li>
                        {% else %}
                            <li>Оклад: {{ post.salary.from }} - {{ post.salary.to }} {{ post.salary.currency}}</li>
                        {% endif %}
                        <li>Регион: {{ post.area.name }}</li>
                        <li>Дата публикации: {{ post.published_at }}</li>
                    </ul>
                </div>
                {% endfor %}

            </div>
        </div>
        <footer>
            <div class="css-footer">
              <div class="col-1-3">
                    <p><a href="https://t.me/tsaregorodtsevg">Царегородцев Георгий Павлович</a>, группа РИ-210912, команда АТ-03.</p>
              </div>

            </div>
          </footer>
    </body>
</html>
