body{
    background-color: #f8f8f8;
}

.css-header {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 1%;
}

.container div{
    float: left;
    margin-bottom: 15px;
}

.bar {
    width: 20%;
    list-style-type: none;
}

.bar ul{
    font-family: 'Inter Tight', sans-serif;
    list-style-type: none;
    padding-left: 0px;
    text-align: center;
}

.bar li{
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #f1f1f1;
    border-radius: 0px 5px 20px 0px;
    border-bottom: outset;
}


.bar li:hover{
    background-color: rgb(229, 36, 36);
    border-bottom: groove;
}

.bar li:active{
    background-color: rgb(177, 30, 30);
    border-bottom: solid;
}

a {
    text-decoration: none;
    color: black;
}

.css-main {
    width: 72%;
    margin-left: 1%;
    margin-right: 7%;
    
}

.css-main img{
    display:block;
    margin:auto;
}

.css-main p{
    font-family: 'Scada', sans-serif;
}

.css-main h1,h2,h3{
    font-family: 'Scada', sans-serif;
}

    
.css-footer {
    border-top: ridge;
    padding-top: 1%;
    padding-left: 1%;
    float: left;
    margin-bottom: 15px;
    width: 100%;
    height: 150px;
    font-family: 'Scada', sans-serif;
    background: #171a1ed4;
}

.vacancy {
    background: #005aff4d;
    outline: auto;
    outline-color: #11197c;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 5px 60px
}

.vacancy:hover{
    background: #0059ff94;
    outline: auto;
    outline-color: #11197c;
    padding-left: 1%;
    padding-right: 1%;
}

.vacancy ul {
    list-style-type: none;
    font-family: 'Inter Tight', sans-serif;
}

.hexagon {
    padding-top: 2%;
    width: 200px;
	height: 200px;
	background: #c3070d;
	position: relative;
    margin-right: 7%;
    padding-bottom: 7%;
}

.hexagon::before {
    content: "";
	position: absolute;
	top: -25px; 
	left: 0;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 25px solid #95071c;
}

.hexagon::after {
	content: "";
	position: absolute;
	bottom: -25px; 
	left: 0;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 25px solid #6f2233;
}

.last {
    padding-bottom: 4%;
}

.hex {
    text-align: center;
    font-family: 'Inter Tight', sans-serif;
}
caption h4{
    margin-bottom: 1.5%;
}

table{
    border-collapse: collapse;
    font-family: 'Inter Tight', sans-serif;
    text-align: center;

}
th, td{
    border: 1px solid;
}

.table1{
    margin-left: 5%;
}

.graph1 {
    text-align: center;
    font-family: 'Inter Tight', sans-serif;
    margin-left: 10%;
}

.table2{
    clear: both;
    margin-left: 5%;
    margin-top: 5%;
}

.graph2{
    text-align: center;
    font-family: 'Inter Tight', sans-serif;
    margin-left: 10%;
    margin-top: 5%;
}

h1 {
    background: linear-gradient(540deg, red 50%, black 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}